In [3]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName('Predicting the grape variety from wine characteristics') \
    .getOrCreate()

rawData = spark.read\
            .format('csv')\
            .option('header', 'false')\
            .load('wine.data')

In [4]:
rawData

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string]

In [5]:
rawData.show(5)

+---+-----+----+----+----+---+----+----+---+----+----+----+----+----+
|_c0|  _c1| _c2| _c3| _c4|_c5| _c6| _c7|_c8| _c9|_c10|_c11|_c12|_c13|
+---+-----+----+----+----+---+----+----+---+----+----+----+----+----+
|  1|14.23|1.71|2.43|15.6|127| 2.8|3.06|.28|2.29|5.64|1.04|3.92|1065|
|  1| 13.2|1.78|2.14|11.2|100|2.65|2.76|.26|1.28|4.38|1.05| 3.4|1050|
|  1|13.16|2.36|2.67|18.6|101| 2.8|3.24| .3|2.81|5.68|1.03|3.17|1185|
|  1|14.37|1.95| 2.5|16.8|113|3.85|3.49|.24|2.18| 7.8| .86|3.45|1480|
|  1|13.24|2.59|2.87|  21|118| 2.8|2.69|.39|1.82|4.32|1.04|2.93| 735|
+---+-----+----+----+----+---+----+----+---+----+----+----+----+----+
only showing top 5 rows

In [6]:
dataset = rawData.toDF('Label',
                'Alcohol',
                'MalicAcid',
                'Ash',
                'AshAlkalinity',
                'Magnesium',
                'TotalPhenols',
                'Flavanoids',
                'NonflavanoidPhenols',
                'Proanthocyanins',
                'ColorIntensity',
                'Hue',
                'OD',
                'Proline'
                )

In [7]:
dataset

DataFrame[Label: string, Alcohol: string, MalicAcid: string, Ash: string, AshAlkalinity: string, Magnesium: string, TotalPhenols: string, Flavanoids: string, NonflavanoidPhenols: string, Proanthocyanins: string, ColorIntensity: string, Hue: string, OD: string, Proline: string]

In [8]:
dataset.show(5)

+-----+-------+---------+----+-------------+---------+------------+----------+-------------------+---------------+--------------+----+----+-------+
|Label|Alcohol|MalicAcid| Ash|AshAlkalinity|Magnesium|TotalPhenols|Flavanoids|NonflavanoidPhenols|Proanthocyanins|ColorIntensity| Hue|  OD|Proline|
+-----+-------+---------+----+-------------+---------+------------+----------+-------------------+---------------+--------------+----+----+-------+
|    1|  14.23|     1.71|2.43|         15.6|      127|         2.8|      3.06|                .28|           2.29|          5.64|1.04|3.92|   1065|
|    1|   13.2|     1.78|2.14|         11.2|      100|        2.65|      2.76|                .26|           1.28|          4.38|1.05| 3.4|   1050|
|    1|  13.16|     2.36|2.67|         18.6|      101|         2.8|      3.24|                 .3|           2.81|          5.68|1.03|3.17|   1185|
|    1|  14.37|     1.95| 2.5|         16.8|      113|        3.85|      3.49|                .24|           2.18|           7.8| .86|3.45|   1480|
|    1|  13.24|     2.59|2.87|           21|      118|         2.8|      2.69|                .39|           1.82|          4.32|1.04|2.93|    735|
+-----+-------+---------+----+-------------+---------+------------+----------+-------------------+---------------+--------------+----+----+-------+
only showing top 5 rows

**Define a vectorize function to store the data in the required format for our ML models**

The ML package needs data be put in a (label: Double, features: Vector) DataFrame format with correspondingly named fields. The vectorize() function does just that

   - We perform a manual transformation of our dataset here
   - Spark ML also supplies built-in transformers which we will use shortly

In [9]:
from pyspark.ml.linalg import Vectors

def vectorize(data):
    return data.rdd.map(lambda r: [r[0], Vectors.dense(r[1:])]).toDF(['label','features'])

In [10]:
vectorizedData = vectorize(dataset)

In [11]:
vectorizedData.show(5)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|    1|[14.23,1.71,2.43,...|
|    1|[13.2,1.78,2.14,1...|
|    1|[13.16,2.36,2.67,...|
|    1|[14.37,1.95,2.5,1...|
|    1|[13.24,2.59,2.87,...|
+-----+--------------------+
only showing top 5 rows

In [12]:
vectorizedData.take(5)

[Row(label='1', features=DenseVector([14.23, 1.71, 2.43, 15.6, 127.0, 2.8, 3.06, 0.28, 2.29, 5.64, 1.04, 3.92, 1065.0])),
 Row(label='1', features=DenseVector([13.2, 1.78, 2.14, 11.2, 100.0, 2.65, 2.76, 0.26, 1.28, 4.38, 1.05, 3.4, 1050.0])),
 Row(label='1', features=DenseVector([13.16, 2.36, 2.67, 18.6, 101.0, 2.8, 3.24, 0.3, 2.81, 5.68, 1.03, 3.17, 1185.0])),
 Row(label='1', features=DenseVector([14.37, 1.95, 2.5, 16.8, 113.0, 3.85, 3.49, 0.24, 2.18, 7.8, 0.86, 3.45, 1480.0])),
 Row(label='1', features=DenseVector([13.24, 2.59, 2.87, 21.0, 118.0, 2.8, 2.69, 0.39, 1.82, 4.32, 1.04, 2.93, 735.0]))]

**StringIndexer**

    - It's a feature transformer (can also be used for labels)
    - Encodes a string column to a column of indices. The indices are in [0, numLabels), ordered by value frequencies, so the most frequent value gets index 0
    - The label needs to be of type Double which will be handled by StringIndexer

In [13]:
from pyspark.ml.feature import StringIndexer

labelIndexer = StringIndexer(inputCol='label',
                             outputCol='indexedLabel')

**Transform the label in the vectorized dataset with the StringIndexer**

- We get a new label field called indexedLabel

In [14]:
indexedData = labelIndexer.fit(vectorizedData).transform(vectorizedData)
indexedData.take(2)

[Row(label='1', features=DenseVector([14.23, 1.71, 2.43, 15.6, 127.0, 2.8, 3.06, 0.28, 2.29, 5.64, 1.04, 3.92, 1065.0]), indexedLabel=1.0),
 Row(label='1', features=DenseVector([13.2, 1.78, 2.14, 11.2, 100.0, 2.65, 2.76, 0.26, 1.28, 4.38, 1.05, 3.4, 1050.0]), indexedLabel=1.0)]

Confirm that the indexedLabel is in Double format

In [15]:
indexedData

DataFrame[label: string, features: vector, indexedLabel: double]

In [16]:
indexedData.select('label').distinct().show()

+-----+
|label|
+-----+
|    3|
|    1|
|    2|
+-----+

In [17]:
indexedData.select('indexedLabel').distinct().show()

+------------+
|indexedLabel|
+------------+
|         0.0|
|         1.0|
|         2.0|
+------------+

**Split the vectorized data into training and test sets**

In [18]:
(trainingData, testData) = indexedData.randomSplit([0.8, 0.2])

**DecisionTree Classifier**

    - Specify the features and label columns
    - maxDepth: The maximum depth of the decision tree
    - impurity: We use gini instead of entropy. Gini measurement is the probability of a random sample being classified correctly. Entropy is a measure of information (seek to maximize information gain when making a split). Outputs generally don't vary much when either option is chosen, but entropy may take longer to compute as it calculates a logarithm

In [19]:
from pyspark.ml.classification import DecisionTreeClassifier

dtree = DecisionTreeClassifier(
    labelCol='indexedLabel', 
    featuresCol='features',
    maxDepth=3,
    impurity='gini'
)

**Traing the model using the training data**

In [20]:
model = dtree.fit(trainingData)

**Use Spark ML's MulticlassClassificationEvaluator to evaluate the model**

    - Used to evaluate classification models
    - It takes a set of labels and predictions as input
    - Similar to (but not the same as MulticlassMetrics in MLLib)
    - metricName: Can be precision, recall, weightedPrecision, weightedRecall and f1

In [21]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(labelCol='indexedLabel',
                                              predictionCol='prediction', 
                                              metricName='f1')

**Transform the test data using our model to include predictions**

In [22]:
transformed_data = model.transform(testData)
transformed_data.show(5)

+-----+--------------------+------------+--------------+-------------+----------+
|label|            features|indexedLabel| rawPrediction|  probability|prediction|
+-----+--------------------+------------+--------------+-------------+----------+
|    1|[12.85,1.6,2.52,1...|         1.0|[0.0,43.0,0.0]|[0.0,1.0,0.0]|       1.0|
|    1|[13.05,1.65,2.55,...|         1.0|[0.0,43.0,0.0]|[0.0,1.0,0.0]|       1.0|
|    1|[13.28,1.64,2.84,...|         1.0|[0.0,43.0,0.0]|[0.0,1.0,0.0]|       1.0|
|    1|[13.63,1.81,2.7,1...|         1.0|[0.0,43.0,0.0]|[0.0,1.0,0.0]|       1.0|
|    1|[13.64,3.1,2.56,1...|         1.0|[0.0,43.0,0.0]|[0.0,1.0,0.0]|       1.0|
+-----+--------------------+------------+--------------+-------------+----------+
only showing top 5 rows

**Measure accuracy of model on the test data**

In [23]:
print(evaluator.getMetricName(), 
      'accuracy:', 
      evaluator.evaluate(transformed_data))

f1 accuracy: 0.8823529411764706

**View only the columns relevant for the predictions**

In [24]:
predictions = transformed_data.select('indexedLabel', 'prediction', 'probability')
predictions.show(5)

+------------+----------+-------------+
|indexedLabel|prediction|  probability|
+------------+----------+-------------+
|         1.0|       1.0|[0.0,1.0,0.0]|
|         1.0|       1.0|[0.0,1.0,0.0]|
|         1.0|       1.0|[0.0,1.0,0.0]|
|         1.0|       1.0|[0.0,1.0,0.0]|
|         1.0|       1.0|[0.0,1.0,0.0]|
+------------+----------+-------------+
only showing top 5 rows

In [25]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName('Predicting whether a person\'s income is greater than $50K') \
    .getOrCreate()

rawData = spark.read\
            .format('csv')\
            .option('header', 'false')\
            .option('ignoreLeadingWhiteSpace', 'true')\
            .load('datasets/adult.csv')

Specify column headers for data set

In [26]:
dataset = rawData.toDF('Age',
               'WorkClass',
               'FnlWgt',
               'Education',
               'EducationNum',
               'MaritalStatus',
               'Occupation',
               'Relationship',
               'Race',
               'Gender',
               'CapitalGain',
               'CapitalLoss',
               'HoursPerWeek',
               'NativeCountry',
               'Label'
                )

In [27]:
dataset.toPandas().head()

,Age,WorkClass,FnlWgt,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K